<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
    <title>Minixo Engine</title>
</head>

<body>
    <div class="divtop">
        <h2>
            <a href="#">Minixo Engine</a>
            <a target="_blank" href="https://github.com/sambhavsaxena">
                <img src="github.svg" alt="github logo">
            </a>
        </h2>
    </div>
    <div class="divmid">
        <div class="subhead">
            A data driven Natural Language Processing (NLP) engine to summarize custom text.
        </div>
    </div>
    <div class="container">
        <div class="equalizer">
            <form action="{{url_for('summary')}}" method="post" style="margin: 1%;">
                <textarea rows="30" cols="80" name="data" id="data" placeholder="Paste huge amount of text here"
                    required></textarea>
                <div class="rangetdiv">
                    Select the range for your output
                </div>
                <div class="range">
                    <input type="range" min="20" max="1000" name="maxlength">
                </div>
                <div class="centered">
                    <button type="submit" onclick="validate()">Submit</button>
                    <button type="reset">Clear</button>
                </div>
            </form>
            <div style="margin: 1%;">
                <textarea rows="30" cols="80" id="result" name="result" readonly
                    placeholder="Your summary here">{{result}}</textarea>
                <div class="btn">
                    <button onclick="copy_to_clipboard()">Copy text</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            With love, Sambhav Saxena
        </div>
    </footer>
</body>

</html>